# .NET
**/bin/
**/obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
# Documentos generados por la aplicación
backend-dotnet/SaludsaActas.WebApi/Documents/Generated/*
!backend-dotnet/SaludsaActas.WebApi/Documents/Generated/.gitkeep